.contenedor{
    background-color: white;
    display: grid;
    padding: 20px;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "caja1 caja1 caja1"
                        "caja2 caja2 caja2"
                        "caja3 caja4 caja5"
                        "caja6 caja7 caja7"
                        "caja6 caja8 caja8";
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr;
}
.caja1{
    height: 100px;
    background: blue;
    grid-column: caja1;
    grid-row: caja1;
    font-size: 20px;
}
.caja2{
    background-color: red;
    grid-column: caja2;
    grid-row: caja2;
    font-size: 20px;
}
.caja3{
    background-color: green;
    grid-column: caja3;
    grid-row: caja3;
}
.caja4{
    background-color: green;
    grid-column: caja4;
    grid-row: caja4;
}
.caja5{
    background-color: green;
    grid-column: caja5;
    grid-row: caja5;
}
.caja6{
    background-color: gray;
    grid-column: caja6;
    grid-row: caja6;
    font-size: 20px;
}
.caja7{
    background-color: brown;
    grid-column: caja7;
    grid-row: caja7;
    font-size: 20px;
}
.caja8{
    background-color: brown;
    grid-column: caja8;
    grid-row: caja8;
    font-size: 20px;
}
img{
    width: 300px;
    height: 200px;
}
.caja1:hover{
    width: 75%;
    transition: transform 0.3seg;
}
.caja3:hover{
    transition: transorm 0.3seg ease;
    transform:rotate(180deg)

}
.caja7:hover{
    font-size: 40px;
    transition: transform 0.3seg;
}
@keyframes backgroundc {
    0%{background-color: red;}
    50%{background-color: blue;}
    100%{background-color: blueviolet;}
}
.caja2{
    animation: backgroundc 3s infinite;
}
@keyframes widthcambio {
    0%{width: 20%;}
    50%{width: 50%;}
    100%{width: 100%;}
}
.caja8{
    animation: widthcambio 3s infinite;
}
@keyframes fontcambio{
    0%{font-size: 10px;}
    50%{font-size: 20px;}
    100%{font-size: 30px;}
}
.caja6{
    animation: fontcambio 3s infinite;
}